body {
    margin: 0;
}

header{
    background: #2F2E2E;
    height: 79px;
}

img{
    margin-top: 28px;
    margin-left: 166px;
    width: 154px;
    height: 22px;
    object-fit: cover;
    object-position: 50% 50%
}

main{
    width: 940px; 
    margin: auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    margin: 0 0 10px
}

.input-padrao{
    display: block; 
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0 0 20px; 
    padding: 10px 25px; 
    width: 50%; 
    border-top-color: lightgray; 
    border-left-color: lightgray; 
    border-radius: 40px;
    outline: 0;
}

.enviar{
    width: 23%; 
    padding: 15px 0; 
    background: #FAD000; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
    font-size: 18px; 
    border: none; 
    border-radius: 40px; 
    cursor: pointer;
}